.hero-section {
  display: flex;
  align-items: center;
  height: calc(100vh - 85px);
}


.hero-section h4 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 7.8px;
  text-transform: uppercase;
}

.hero-section h1 {
  color: #ffffff;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 6.3px;
  line-height: 118px;
  margin: 0;
}

.hero-section span {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5.2px;
}

.social-icons .icon {
  text-decoration: none;
}

.hero-section .social-icons {
  margin-top: 50px;
  padding-left: 0;
}

.social-icons .i {
  margin: 0 8px;
}

.hero-section .social-icons .i {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 63px;
  background: #001c2b6d;
  border-radius: 50%;
  font-size: 25px;
  color: var(--font-color);
  padding: 10px;
  transition: 0.5s;
}

.hero-section .social-icons .i:hover::before {
    transform: scale(1.1);
  }
  
  .hero-section .social-icons .i:hover {
    color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
  }

  /* Responsive Styles for Mobile screen */

@media screen and (max-width: 476px) {
    .hero-section h1 {
      font-size: 50px !important;
      line-height: 50px !important;
    }
  }
  
  @media screen and (max-height:550px) {
    .hero-section {
      height: auto;
    }
  }
  
  /* Responsive Styles for Ipad screen */
  
  @media screen and (max-width: 768px) {
    .welcome-text h4 {
      font-size: 25px;
    }
    .hero-section {
      text-align: center;
    }
    .hero-section .social-icons {
      justify-content: center;
    }
    .hero-section h1 {
      font-size: 70px;
      line-height: 100px;
    }
  }